<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.iogreen.thirtythree.schedule"
          android:versionCode="1"
          android:versionName="0.0.1-SNAPSHOT">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE"/>

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <application
        android:hardwareAccelerated="true"
        android:theme="@android:style/Theme.Holo.Light"
        android:allowBackup="true"
        android:label="@string/application_name"
        android:icon="@drawable/ic_launcher">

        <activity
            android:name=".ui.WelcomeActivity"
            android:label="@string/application_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SessionActivity"
            android:label="@string/activity_session_label">
        </activity>

        <receiver
            android:enabled="true"
            android:name=".gcm.ScheduleGCMService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.example.gcm"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.GCMReceiverService"/>
        <service android:name=".service.RESTService"/>
    </application>
</manifest>
